/* These selectors have been created to organize html content and the dashed border
has been applied to them to provide a visual queue to see where elements begin 
and end. */

/* !! All dashed borders can be commented out/deleted once no longer needed. */

/* !! Any selectors that are not used by the end of the project may be deleted !! */

:root{
    --pinkz: #b252f2
    --purpz: #44118c
    --darkpurpz: #2e0f59
    --darkz: #090526
    --tealz: #9cd9c8
}


body {
    border: 1px solid rgba(0, 0, 0, 0.5);
    
}


/* h1{
/* bg-gradient-to-r from-pinkz to-tealz inline-block text-transparent bg-clip-text p-5 */
/* display: inline;
color: transparent;
background-image:   linear-gradient(
    (--pinkz)0%
    (--tealz)100%);
background-clip: text;
} */ 


/* ===== HEADER SELECTORS ============================================================ */

.header {
    border: 1px solid rgba(0, 0, 0, 0.5);
}

.title {
    border: 1px solid rgba(0, 0, 0, 0.5);
}

.subtitle {
    border: 1px solid rgba(0, 0, 0, 0.5);
}





/* ===== STARTER PAGE CONTENT SELECTORS ============================================== */

main {
    border: 1px solid rgba(0, 0, 0, 0.5);
}


/* ----- Toggle "by Game" or "by Genre" ----- */

.search-by-container {
    border: 1px solid rgba(0, 0, 0, 0.5);
}

.search-by-btn {
    border: 1px solid rgba(0, 0, 0, 0.5);
}
                                            /* <--- USE THESE IDs FOR JS PURPOSES */
#search-by-game-toggle { 
    border: 1px solid rgba(0, 0, 0, 0.5);
}
                                            /* <--- USE THESE IDs FOR JS PURPOSES */
#search-by-genre-toggle {
    border: 1px solid rgba(0, 0, 0, 0.5);
}


/* ----- Search by GENRE Dialog Box ----- */

.game-search-form-container {
    border: 1px solid rgba(0, 0, 0, 0.5);
}

.game-search-form-title {
    border: 1px solid rgba(0, 0, 0, 0.5);
}
                                            /* <--- USE THESE IDs FOR JS PURPOSES */
#game-search-form-game { 
    border: 1px solid rgba(0, 0, 0, 0.5);
}
                                            /* <--- USE THESE IDs FOR JS PURPOSES */
#game-search-form-location {
    border: 1px solid rgba(0, 0, 0, 0.5);
}
                                            /* <--- USE THESE IDs FOR JS PURPOSES */
#game-search-form-submit {
    border: 1px solid rgba(0, 0, 0, 0.5);
}


/* ----- Search by GENRE Dialog Box ----- */

.genre-search-form-container {
    border: 1px solid rgba(0, 0, 0, 0.5);
}

.genre-search-form-title {
    border: 1px solid rgba(0, 0, 0, 0.5);
}

.genre-card-container {
    border: 1px solid rgba(0, 0, 0, 0.5);
}

.genre-cards {
    border: 1px solid rgba(0, 0, 0, 0.5);
}
/* ------- */
#genre-1 {
    border: 1px solid rgba(0, 0, 0, 0.5); 
}

#genre-2 {
    border: 1px solid rgba(0, 0, 0, 0.5); 
}

#genre-3 {
    border: 1px solid rgba(0, 0, 0, 0.5); 
}

#genre-4 {
    border: 1px solid rgba(0, 0, 0, 0.5); 
}

#genre-5 {
    border: 1px solid rgba(0, 0, 0, 0.5); 
}

#genre-6 {
    border: 1px solid rgba(0, 0, 0, 0.5); 
}

#genre-7 {
    border: 1px solid rgba(0, 0, 0, 0.5); 
}

#genre-8 {
    border: 1px solid rgba(0, 0, 0, 0.5); 
}
/* ------- */
                                            /* <--- USE THESE IDs FOR JS PURPOSES */
#genre-search-form-location {
    border: 1px solid rgba(0, 0, 0, 0.5);
}
                                            /* <--- USE THESE IDs FOR JS PURPOSES */
#genre-search-form-submit {
    border: 1px solid rgba(0, 0, 0, 0.5);
}





/* ===== RESULTS PAGE CONTENT SELECTORS ============================================== */

.results-main-container {
    border: 1px solid rgba(0, 0, 0, 0.5);
}
                                            /* <--- USE THESE IDs FOR JS PURPOSES */
#results-main-container {
    border: 1px solid rgba(0, 0, 0, 0.5);
}

.results-item-container {
    border: 1px solid rgba(0, 0, 0, 0.5);
}

.results-item-img {
    border: 1px solid rgba(0, 0, 0, 0.5);
}

.results-item-title {
    border: 1px solid rgba(0, 0, 0, 0.5);
}

.results-item-desc {
    border: 1px solid rgba(0, 0, 0, 0.5);
}

.results-item-btn {
    border: 1px solid rgba(0, 0, 0, 0.5);
}

.results-item-fav {
    border: 1px solid rgba(0, 0, 0, 0.5);
}