/* These selectors have been created to organize html content and the dashed border
has been applied to them to provide a visual queue to see where elements begin 
and end. */

/* !! All dashed borders can be commented out/deleted once no longer needed. */

/* !! Any selectors that are not used by the end of the project may be deleted !! */
#modal-overlay{
    position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 9999;
}

.modal {
  display: none;
    position: fixed;
  top: 55%;
  left: 50%;
  text-align: center;
  background: linear-gradient(rgb(211, 97, 187) 0%, rgb(51, 206, 154) 100%);
  box-sizing: border-box;
  opacity: 0;
  transform: translate(-50%, -50%);
  transition: all 300ms ease-in-out;
}



.close {
  color: purple;
  float: right;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
}

/* ===== MODAL SELECTORS ============================================================= */

#error-modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 9999;
}

#error-modal {
  position: fixed;
  top: 55%;
  left: 50%;
  text-align: center;
  background: linear-gradient(rgb(211, 97, 187) 0%, rgb(51, 206, 154) 100%);
  box-sizing: border-box;
  opacity: 0;
  transform: translate(-50%, -50%);
  transition: all 300ms ease-in-out;
}

#error-modal-overlay.error-modal-open #error-modal {
  opacity: 1;
  top: 50%;
}

